body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

h1 {
    color: #0079A8;
}

a {
    color: #3B5998;
    font-weight: bold;
    line-height: 18px;
    text-decoration: none;
}

ul#tableOfContents{
    list-style-type: none;
}


#tableList {
    list-style-type: none;
}

#tableList h2 {
    color: #333;
}

#tableList div.comment {
    color: #4D4D4D;
    height: 40px;
}

#tableList table.tableFields td {
    padding: 2px 2px 2px 12px;
    vertical-align: top;
}

#tableList table.tableFields thead tr {
    background-color: #00A2D9;
    font-weight: bold;
    color: #fff;
}

#tableList table.tableFields tbody tr:nth-child(even) {
    background-color: #99DFF9;
}

#tableList div.tableWrapper {
    padding: 15px;
    width: 800px;
    border: solid 1px #333;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #EAF7DA;
}

#tableList div.tableTitle {
    font-weight: bold;
    color: #4D4D4D;
}