<li>
    <a id="{item_name}"></a>

    <h2>{item_name}</h2>

    <div class="comment">{procedure_create_date} - {collation}. {procedure_comment}</div>
    <div class="tableWrapper">
        <div class="tableTitle">Params</div>
        <table border="0" class="tableFields" cellpading="0" cellspacing="0">
            <thead>
            <tr>
                <td>Param</td>
                <td>Direction</td>
                <td>Type</td>
            </tr>
            </thead>
            <tbody>
                {params}
            </tbody>
        </table>
    </div>
    <div>
        <a href="#top">top</a>
    </div>
</li>